.gridContainer{
    border:1px solid red;
    height:90vh;
    display: grid;
    /*grid-template-columns:100px 200px 300px 400px;
    grid-template-rows:100px 100px;
    grid-template-columns:200px 200px 200px 200px;
    grid-template-columns:100ox repeat (4,200px);*/
    grid-template-columns:repeat(4,100px); /*1fr*/
   /* row-gap:10px;
    column-gap:10px;*/
    grid-template-rows:100px 100px;
   /* justify-content:space-evenly;
    align-content:center;*/
  /*  gap:10px;*/
}

.item{
color:red;
border:1px solid;
background-color:yellow;
padding:30px 40px;
    }

    /*to take the space o other grid*/
.item:nth-child(8){
   /* grid-column-start:3; 
    grid-column-end:-1;*/
    grid-row-start:2;
    grid-row-end:3;
}