.header{
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

.header img{
  width: 80px;
  height: 80px;
}

.links{
  display: flex;
  align-items: center;
  gap: 30px;
  }

.links a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.links .active{
  color: olive;
  font-size: 20px;
}
